//- © Andrew Wei

section#extensions(is='calc3-extensions')
  div.content
    div(name='title')
      h2.title= __('extensions.title')
      h4.subtitle= __('extensions.subtitle')
    figure(name='diagram')
  div(name='info-panel')
    div.info-column
      h5= __('extensions.feature-1-title')
      p= __('extensions.feature-1')
    div.info-column
      h5= __('extensions.feature-2-title')
      p= __('extensions.feature-2')
