//- © Andrew Wei

section#graphing(is='calc3-graphing')
  div.content
    div(name='title')
      h2.title= __('graphing.title')
      h4.subtitle= __('graphing.subtitle')
    figure(name='diagram-background')
    figure(name='diagram')
  div(name='info-panel')
    div.info-column
      h5= __('graphing.feature-1-title')
      p= __('graphing.feature-1')
    div.info-column
      h5= __('graphing.feature-2-title')
      p= __('graphing.feature-2')
