//- © Andrew Wei

section#programmer(is='calc3-programmer')
  div.content
    div(name='title')
      h2.title= __('programmer.title')
      h4.subtitle= __('programmer.subtitle')
    figure(name='diagram')
  div(name='info-panel')
    div.info-column
      h5= __('programmer.feature-1-title')
      p= __('programmer.feature-1')
    div.info-column
      h5= __('programmer.feature-2-title')
      p= __('programmer.feature-2')
