//- © Andrew Wei

section#scientific(is='calc3-scientific')
  div.content
    div(name='title')
      h2.title= __('scientific.title')
      h4.subtitle= __('scientific.subtitle')
    figure(name='diagram')
    figure(name='diagram-labels')
  div(name='info-panel')
    div.info-column
      h5= __('scientific.feature-1-title')
      p= __('scientific.feature-1')
    div.info-column
      h5= __('scientific.feature-2-title')
      p= __('scientific.feature-2')
